<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
"http://www.apple.com/DTDs/PropertyList-1.0.dtd" >
<plist version='1.0'>
    <dict>
        <key>EnvironmentVariables</key>
        <dict>
               <key>https_proxy</key>
               <string>http://127.0.0.1:1080</string>
        </dict>
        <key>Label</key><string>net.wisper.mcp-web</string>
        <key>ProgramArguments</key>
        <array>
           	<string>/usr/local/bin/wisper</string>
           	<string>web</string>
           	<string>--listen</string>
            <string>localhost:8087</string>
        </array>
        <key>RunAtLoad</key>
        <true/>
        <key>StandardErrorPath</key>
        <string>/tmp/wisper-mcp-web.err.log</string>
        <key>StandardOutPath</key>
        <string>/tmp/wisper-mcp-web.out.log</string>
    </dict>
</plist>
